.logo {
  background: url(../../../../../assets/themes/b2b/img/logo_de.svg) left no-repeat;
  width: 178px;
  height: 50px;
  background-size: contain;
  @media (max-width: 991.98px) {
    width: 110px;
    height: 55px;
  }
}
.mobile-logo {
  background: url(../../../../../assets/themes/b2b/img/logo_de.svg) left no-repeat;
  width: 110px;
  height: 55px;
  background-size: contain;
}

.header-search-container input.form-control {
  background-color: $white;
  border: 2px solid $border-color-light;
}
header::before {
  background-color: $CORPORATE-PRIMARY;
  height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.main-navigation .main-navigation-list a,
.header-utility .search-toggler.active-search .ng-fa-icon {
  color: $CORPORATE-PRIMARY;
}
// header search icon style
a.search-toggler > fa-icon.header-icon {
  svg {
    color: $text-color-quaternary;
    @media (max-width: 767.98px) {
      color: $black;
    }
  }
}
button.btn-search > fa-icon > svg {
  color: $CORPORATE-PRIMARY;
}

.main-navigation {
  height: 50px;
  border-top: solid 1px #0000001a;
  border-bottom: solid 1px #0000001a;
}

.user-links li {
  padding: 4px;
  &:hover {
    background: $text-color-quinary;
  }
}
.my-account-login {
  span {
    font-size: 8px;
    line-height: 20px;
    text-transform: capitalize;
    color: $text-color-quaternary;
  }
}
.quick-cart-link {
  background: none;
  margin: 0;
  padding: 0;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    &:hover {
      background: $text-color-quinary;
    }
    span {
      font-size: 8px;
      text-transform: capitalize;
      line-height: 20px;
    }
  }
}
ul.cms-menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-transform: capitalize;
  li:hover {
    background: $text-color-quinary;
  }
  @media (max-width: 767.98px) {
    grid-auto-flow: row;
  }
}
ul.main-navigation-list {
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-navigation .main-navigation-list {
  a {
    text-transform: capitalize;
  }
  li.dropdown {
    padding-right: 20px;
    line-height: 50px;
    &:hover {
      background: $text-color-quinary;
    }
  }
}
// shopping basket number
.item-count-container .badge {
  left: 20px;
  font-size: 45%;
}
// search box svg
.header-utility .search-container .btn-search {
  right: 0;
}

ul.main-navigation-list {
  align-items: unset;
}
